body{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 0;
}
.heading-color{
    color:#575757;
}
.heading-color span{
    color:orange;
}
p{
    font-size: 15px;
    color: #a0a0a0;
    font-weight:200;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 12px 25px;
    border-radius: 30px;
    color: white;
    font-weight: 100;
    font-size: 12px;
}
.menu-container{
    display:flex;
}
.logo{
    width: 100%;
    height:20%;   
}
.navbar {
    overflow: hidden;
    background-color: #0b0e17;

}  
.navbar a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 35px 20px;
    text-decoration: none;
    font-size: 17px;
  }
.navbar img{
    width:7%;
    float: left;
  }
.diet-container{
    display:flex;
    height: 500px;
    padding-bottom: 5px;
}
#first-image{
    width: 100%;
    margin-left: 5%;
}
.about-container{
    display:flex;
    background-image: url(images/bg-second.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 80%;
    padding-bottom: 110px; 
}
#second-image{
    width: 50%;
    margin-left: 20%;
    margin-top: 18%;
    height:90%;
}
.division-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.division-width img{
    width: 80%;
    margin-top: 5%;
    height: 100%;
    margin-left: 5%;
}
.about-margin{
    margin-top:10%;
}
.division-width h3{
    margin-top: 110px;
}
.division-width h6{
    margin-bottom: 10px;
}
.recipe-container{
    height: 100px;
    padding-bottom: 100px;
}

.recipe-container p{
    
    width:400px;
    font-size:15px;
    word-break:break-all;
    margin-left: 38%;
    
}
.recipe-container h3{
    text-align: center;
    color: #575757;
}
.food-container{
    display:flex;
}
.food-container div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
    border-radius: 30px;
}
.chefs-container h3{
    text-align: center;
    color: #575757;
}
.chefs-container p{
    width:400px;
    font-size:15px;
    word-break:break-all;
    margin-left: 38%;
    
}
.description-container{
    display:flex;
    
}
.description-container div{
    box-shadow: 5px 7px 40px whitesmoke;
    height: 80%;
    
}
footer{
    text-align: center;
    background-color: #0B0E17;
     
}
footer h5 span{
    color: #DB7F41;
}
footer h5{
    color:#35363B;
    padding-top: 20px;
}
footer p{
    padding-bottom: 15px;
}
.copy width{
    padding-bottom: 10px;
}
